<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록 폼</h2>
    </div>

    <form action="item.html" th:action th:object="${item}" method="post">
        <div>
            <label for="itemName">상품명</label>
            <!-- "*{itemName}" 은 "${item.itemNAme}" 과 같음 -->
            <input type="text" id="itemName" th:field="*{itemName}" name="itemName" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div>
            <label for="price">가격</label>
            <!-- 아래와 같이 id 속성(id="price")을 제거해도 th:field 가 자동으로 만들어줌 -->
            <input type="text" th:field="*{price}" name="price" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div>
            <label for="quantity">수량</label>
            <input type="text" th:field="*{quantity}" name="quantity" class="form-control" placeholder="수량을 입력하세요">
        </div>

        <hr class="my-4">

        <!-- single checkbox -->
        <div>판매 여부</div>
        <div>
            <div class="form-check">
                <input type="checkbox" id="open" th:field="*{open}" class="form-check-input">
                <!--
                    HTML checkbox는 선택이 안되면 클라이언트에서 서버로 값 자체를 보내지 않음
                    이러한 경우 스프링에서는 트릭을 사용하여 _open 같은 히든 필드를 생성하여
                    checkbox 값이 넘어오지 않고 히든 필드 값만 넘어오면 checkbox 값을 false로 인식
                    하지만 이런 경우 매 체크박스마다 히든 필드를 만들어야 되는 번거로움이 발생
                    => 타임리프로 해결
                 -->
                <!-- <input type="hidden" name="_open" value="on"/> -->
                <label for="open" class="form-check-label">판매 오픈</label>

            </div>
        </div>

        <!-- multi checkbox -->
        <div>
            <div>등록 지역</div>
            <div th:each="region : ${regions}" class="form-check form-check-inline">
                <!-- 타임리프는 th:field 에 지정한 값과 th:value 의 값을 비교해서 체크를 자동으로 처리해줌 -->
                <input type="checkbox" th:field="*{regions}" th:value="${region.key}" class="form-check-input">
                <!-- 타임리프는 #ids.prev(...) , #ids.next(...) 을 제공해서 동적으로 생성되는 id 값을 사용할 수 있는 기능 제공 -->
                <label th:for="${#ids.prev('regions')}"
                       th:text="${region.value}" class="form-check-label">서울</label>
            </div>
        </div>

        <!-- radio button -->
        <!--
            라디오 버튼은 이미 선택이 되어 있다면,
            수정시에도 항상 하나를 선택하도록 되어 있으므로
            체크 박스와 달리 별도의 히든 필드를 사용할 필요가 없음
        -->
        <div>
            <div>상품 종류</div>
            <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
                <input type="radio" th:field="*{itemType}" th:value="${type.name()}" class="form-check-input">
                <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label">
                    BOOK
                </label>
            </div>
        </div>

        <!-- SELECT -->
        <div>
            <div>배송 방식</div>
            <select th:field="*{deliveryCode}" class="form-select">
                <option value="">==배송 방식 선택==</option>
                <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}"
                        th:text="${deliveryCode.displayName}">FAST</option>
            </select>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>